.btn {
  padding: 10px 20px;
  border-radius: 30px;
  background: transparent;
  color: var(--white);
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  transition: .3s;
  cursor: pointer;


  &:hover {
    background: var(--white);
    color: var(--black);
  }
}

.secondary {
  background: var(--gray);
  color: var(--white);
}

.active {
  background: var(--white);
  color: var(--black);
  padding: 10px 30px;
}