.header {
  width: 100%;
  padding: 20px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .links {
    display: flex;
    gap: 20px;
  }

  .wrapper {
    display: flex;
    gap: 20px;
    align-items: center;

  }
}

