.home {
  position: relative;
  display: flex;
  flex-direction: column;

  .animeList {
    margin-top: 100px;
    padding: 20px 25px;
  }
}


.bgImage {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

