.home {
  position: relative;
  display: flex;
  flex-direction: column;

  .animeList {
    margin-top: 40px;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    h3 {
      font-size: 22px;
      font-weight: 500;
      color: #fff;
    }
  }
}


.bgImage {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
}

