.card {
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapperCard {
    display: flex;
    align-items: flex-start;
    gap: 50px;

    .left {


    }

    .right {
      h2 {
        color: var(--white);
      }

      .btns {
        display: flex;
        gap: 10px;
      }
    }
  }

  h1 {
    color: var(--white);
  }
}