.ellipse {
  min-width: 50px;
  height: 50px;
  background:var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid var(--gray);
  transition: .3s;
  cursor: pointer;

  svg {
    color: var(--white);
  }


  &:hover {
    background: var(--white);


    svg {
      color: var(--black);
    }
  }
}

.open {
  background: #fff;
  border-radius: 10px;
  padding: 0 15px;


  input {
    color:#000000;

    &::placeholder {
      color: #232222;
    }
  }
  svg {
    color: #000;
  }
}