.search {
  min-width: 50px;
  height: 50px;
  background:#2D2E30FF;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 1px solid #2D2E30FF;
  transition: .3s;
  cursor: pointer;

  svg {
    color: #fff;
  }


  &:hover {
    background: #ffffff;


    svg {
      color: #000000;
    }
  }
}

.open {
  background: #fff;
  border-radius: 10px;
  padding: 0 15px;


  input {
    color:#000000;

    &::placeholder {
      color: #232222;
    }
  }
  svg {
    color: #000;
  }
}