.anime {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 145px;


  .rating {
    width: 40px;
    padding: 5px 10px;
    background: #808080;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    margin: 10px 15px
  }

  .name {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    margin: 1px 15px;
  }

  .image {
    position: absolute;
    top: 0;
    z-index: -1;
  }
}