.anime {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 145px;
  transition: .3s;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;



  .rating {
    width: 40px;
    padding: 5px 10px;
    background: #5CDC34;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    margin: 10px 15px
  }

  .name {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    margin: 1px 15px;
  }

  .image {
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;

  }

  &:hover {
    transform: translateY(-5px);

    .image {
      background: #000;
      opacity: .2;
    }
  }
}