.anime {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  width: 300px;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
  transition: .3s;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000000;
    transition: background .3s ease;
    z-index: 0;
  }

  .rating, .name, .description {
    position: relative;
    z-index: 2;
  }

  .rating {
    width: 40px;
    padding: 5px 10px;
    background: #5CDC34;
    color: #ffffff;
    border-radius: 15px;
    text-align: center;
    font-size: 10px;
    margin: 10px 15px;
  }

  .name {
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: #ffffff;
    margin: 1px 15px;
  }

  .description {
    display: none;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    font-size: 13px;
  }

  .image {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
  }

  &:hover {
    transform: translateY(-5px);

    &::after {
      background: rgba(0, 0, 0, 0.6);
    }
    .image {
      opacity: .1;
    }
    .name, .rating {
      display: none;
    }

    .description {
      display: block;
    }
  }
}
